/* .container{
	width: 12rem;
	padding: 0;
} */
/*最小宽*/
.mobile{
	display: none;
}
.gray10{
	border-bottom: .1rem solid #f4f4f4;
}
.mb20{
	margin-bottom: .2rem;
}
.mb40{
	margin-bottom: .4rem;
}
.mb50{
	margin-bottom: .5rem;
}
.mb98{
	margin-bottom: .98rem;
}
.mt80{
	margin-top: .8rem;
}
a,a:hover,a:focus{
	text-decoration: none;
}

/* 公共 */
.header_back{
	position: fixed;
	width: 100%;
	height: .8rem;
	border: 1px solid #ffcc33;
	box-sizing: border-box;
	left: 0;
	top: 0;
	z-index: 40;
	background: #000;
}
.header_back h2{
	color: #fff;
	font-size: .32rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
}
.header_back a.left_back{
	position: absolute;
	height: .8rem;
	display: flex;
	align-items: center;
	left: 0;
	top: 0;
	padding: 0 .2rem;
}
.header_back a.right_word,.header_back a.right_img{
	position: absolute;
	height: .8rem;
	line-height: .8rem;
	top: 0;
	right: 0;
	padding: 0 .2rem;
	color: #fff;
	font-size: .28rem;
}
.header_back a.right_img{
	display: flex;
	align-items: center;
}
.header_back a.left_back img{
	display: block;
	width: .21rem;
	height: .37rem;
}
.header_back a.right_img img{
	display: block;
	width: .37rem;
	height: .37rem;
}

a.top_vip_btn,a.submit_btn{
	display: block;
	width: 2.35rem;
	height: .68rem;
	line-height: .68rem;
	text-align: center;
	color: #fff;
	font-size: .22rem;
	background: #ba0f2e;
	border-radius: .05rem;
	margin: .2rem auto 0;
}
a.submit_btn{
	width: 4.15rem;
	height: .6rem;
	line-height: .6rem;
	margin: 1rem auto .2rem;
}

.atten_list li.active .left .img:after,.my_bill_box .left .img.active:after{
	content: "V";
	display: block;
	width: .36rem;
	height: .36rem;
	line-height: .36rem;
	text-align: center;
	background: #ffcc33;
	border-radius: 50%;
	color: #fff;
	font-size: .22rem;
	position: absolute;
	right: -.07rem;
	bottom: -.05rem;
}


/* 弹框样式 */
.modal_shadow,.modal_shadow1{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 45;
	background: rgba(0,0,0,.37);
	display: none;
}
.modal_box{
	position: absolute;
	width: 80%;
	overflow: hidden;
	padding: .3rem .3rem .6rem;
	background: #000;
	border: 1px solid #DCBC5C;
	left: 10%;
	top: 25%;
	z-index: 50;
	display: none;
}
.modal_box.fix{
	position: fixed;
}
.modal_shadow.active,.modal_box.active{
	display: block;
}
.modal_box .close_img{
	overflow: hidden;
	margin-bottom: .3rem;
}
.modal_box .close_img img{
	display: block;
	width: .28rem;
	height: .28rem;
	float: right;
}
.modal_box .img{
	display: block;
	width: 1.26rem;
	height: 1.26rem;
	margin: .2rem auto .4rem;
}
.modal_box .red_img{
	display: block;
	width: 1.48rem;
	margin: 0 auto .9rem;
}
.modal_box p{
	color: #fff;
	font-size: .22rem;
}
.modal_box .see_detail{
	color: #fff;
	font-size: .24rem;
	padding-top: .15rem;
	border-top: .05rem solid #f1c232;
	text-align: center;
	display: block;
}
.modal_box .single_ok{
	display: block;
	width: 1.92rem;
	height: .72rem;
	line-height: .72rem;
	text-align: center;
	color: #fff;
	font-size: .26rem;
	background: #ba0f2e;
	margin: .6rem auto 0;
}
.modal_box .textarea{
	width: 80%;
	height: 1.25rem;
	margin: 0 auto;
	background: #fff;
	border: 0;
	outline: none;
	resize: none;
	padding: .2rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4b4b4b;
	font-size: .22rem;
}
.modal_box .more_btn_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .3rem;
}
.modal_box .more_btn_box a{
	display: block;
	width: 45%;
	color: #fff;
	font-size: .26rem;
	text-align: center;
	padding: .2rem 0;
	background: #767676;
}
.modal_box .more_btn_box a.active{
	background: #ba0f2e;
}

.send_mess_modal{
	padding: 0;
	border: 0;
	width: 70%;
	left: 15%;
	top: 15%;
	background: none;
}
.send_mess_modal .v_img{
	width: 100%;
}
.send_mess_modal .textarea{
	width: 100%;
	height: 2.2rem;
	color: #fff;
	font-size: .24rem;
	background: #000;
	border: 1px solid #FDCB36;
}
.send_mess_modal .more_btn_box{
	padding: 0;
}
.send_mess_modal .more_btn_box a{
	width: 48%;
}


.select_box{
	padding: 0 .5rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
}
.select_box li img{
	display: block;
	width: 1.17rem;
	height: 1.17rem;
	border-radius: 50%;
	margin: 0 auto .3rem;
}
.select_box li a{
	display: block;
	width: 1.35rem;
	height: .55rem;
	line-height: .55rem;
	position: relative;
	color: #fff;
	font-size: .22rem;
	background: #ffcc33;
	border-radius: .05rem;
}
.select_box li.active a{
	background: #cc0000;
}
.select_box li a input{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	outline: none;
	opacity: 0;
	filter: alpha(opacity=0);
}

.modal_info_box{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.modal_info_box .avatar_img{
	display: block;
	width: 1.72rem;
	height: 1.72rem;
	margin-right: .2rem;
}
.modal_info_box .modal_info_right img{
	display: inline-block;
	width: .34rem;
	height: .34rem;
	margin-right: .2rem;
}
.modal_info_box .modal_info_right p{
	margin-bottom: .1rem;
}
.modal_info_box .modal_info_right div{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.modal_info_box .modal_info_right div span{
	display: block;
	width: 100%;
}

.modal_pay_box{
	padding: 0 .3rem .3rem;
}
.modal_pay_box h6,.modal_pay_box label{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .4rem;
	font-size: .24rem;
	color: #fff;
}
.modal_pay_box label{
	font-size: .22rem;
	font-weight: normal;
}
.modal_pay_box label input{
	transform: scale(1.3);
	outline: none;
}
.modal_pay_box label p img{
	display: inline-block;
	width: .62rem;
	height: .54rem;
}
.modal_pay_box label p{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.modal_pay_box label p span{
	display: block;
	width: 1rem;
	text-align: right;
}

.modal_share_box,.modal_red_type{
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.modal_share_box .s_img,.modal_red_type .r_img{
	overflow: hidden;
	width: 30%;
	/* float: left; */
	margin: 0 0 .3rem 0;
	/* text-align: center; */
	font-size: .22rem;
}
.modal_red_type .r_img{
	width: 33%;
	position: relative;
}
.modal_red_type .r_img input{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal_share_box .s_img:nth-child(3n){
	/* margin-right: 0; */
}
.modal_share_box .s_img img,.modal_red_type .r_img img{
	display: block;
	width: 1.09rem;
	height: 1.09rem;
	margin: 0 auto .1rem;
}
.modal_share_box .s_img p{
	text-align: center;
}
.modal_red_word{
	display: none;
}
.modal_red_word.active{
	display: block;
}
.modal_red_word h5{
	color: #fff;
	font-size: .24rem;
	text-align: center;
	margin-bottom: .2rem;
}
.send_money_modal .single_ok{
	margin-top: .3rem;
}


.form_box .form_item .right_click,.login_form .login_item .right_click{
	width: 20%;
	display: flex;
	justify-content: flex-end;
}
.form_box .form_item .clear_input,.login_form .login_item .right_click .clear_input{
	display: block;
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
}
.form_box .form_item .clear_eye,.login_form .login_item .right_click .clear_eye{
	display: block;
	width: .37rem;
	height: .29rem;
}
.form_box .form_item .getCode,.login_form .login_item .right_click .getCode{
	color: #c30e0e;
	font-size: .2rem;
	border: 0;
	outline: none;
	background: none;
	padding: 0;
}


/* 底部 */
.footer{
	width: 100%;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: .98rem;
	box-sizing: border-box;
	border-top: 1px solid #C9C9C9;
}
.footer li{
	width: 20%;
	text-align: center;
}
.footer li a{
	display: block;
	overflow: hidden;
	color: #0f0f0f;
	font-size: .24rem;
}
.footer li a span{
	display: block;
	width: .45rem;
	height: .45rem;
	margin: 0 auto .05rem;
	position: relative;
}
.footer li a span i{
	font-style: normal;
	position: absolute;
	right: -.05rem;
	top: 0;
	width: .26rem;
	height: .26rem;
	line-height: .26rem;
	border-radius: 50%;
	color: #fff;
	background: #ba0f2e;
	font-size: .2rem;
	text-align: center;
}

.footer li:nth-child(1) a span{
	background: url(../images/footer_icon.png) center center no-repeat;
	background-size: auto 1.5rem;
	background-position: -.07rem -.18rem;
}
.footer li:nth-child(1):hover a span,.footer li:nth-child(1).active a span{
	background-position: -.07rem -.81rem;
}
.footer li:nth-child(2) a span{
	background: url(../images/footer_icon.png) center center no-repeat;
	background-size: auto 1.5rem;
	background-position: -.78rem -.18rem;
}
.footer li:nth-child(2):hover a span,.footer li:nth-child(2).active a span{
	background-position: -.78rem -.81rem;
}
.footer li:nth-child(3) a span{
	background: url(../images/footer_icon.png) center center no-repeat;
	background-size: auto 1.5rem;
	background-position: -1.58rem -.18rem;
}
.footer li:nth-child(3):hover a span,.footer li:nth-child(3).active a span{
	background-position: -1.58rem -.81rem;
}
.footer li:nth-child(4) a span{
	background: url(../images/footer_icon.png) center center no-repeat;
	background-size: auto 1.5rem;
	background-position: -2.38rem -.18rem;
}
.footer li:nth-child(4):hover a span,.footer li:nth-child(4).active a span{
	background-position: -2.38rem -.81rem;
}
.footer li:nth-child(5) a span{
	background: url(../images/footer_icon.png) center center no-repeat;
	background-size: auto 1.5rem;
	background-position: -3.2rem -.18rem;
}
.footer li:nth-child(5):hover a span,.footer li:nth-child(5).active a span{
	background-position: -3.2rem -.81rem;
}
.footer li:hover a,.footer li.active a{
	color: #bd1735;
}



@media(max-width: 767px){
	.container{
		width: 100%;
		overflow: hidden;
		padding: 0 .2rem;
	}
}
@media (max-width: 460px){

}
@media (max-width: 350px){

}